# Entorno virtual
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/

# VS Code
.vscode/

# PyCharm
.idea/

# Archivos temporales
*.log
*.tmp

# Exportaciones
app/exports/*
!app/exports/.gitkeep

# Excel, PDF e imágenes generadas
*.xlsx
*.pdf
*.png

# Variables de entorno
.env
.env.*

# Windows
Thumbs.db
Desktop.ini