{% extends "base.html" %}


{% block title %}

OPTI-PERT IA

{% endblock %}



{% block content %}


<div class="card dashboard-card">


<div class="card-body">


<h3>

<i class="bi bi-robot"></i>

Asistente IA PERT

</h3>


<hr>


<form method="POST" action="/ai">


<textarea 
class="form-control mb-3"
name="question"
rows="4"
placeholder="Pregunta sobre el proyecto..."
required></textarea>


<button class="btn btn-primary">

<i class="bi bi-send"></i>

Consultar IA

</button>


</form>


{% if response %}


<div class="alert alert-light mt-4">


<h5>

Respuesta:

</h5>


{{ response }}


</div>


{% endif %}



</div>


</div>



{% endblock %}