{% extends "base.html" %}

{% block title %}
OCR - OPTI-PERT
{% endblock %}

{% block content %}

<div class="card dashboard-card">

<div class="card-body">


<h3 class="mb-4">

<i class="bi bi-camera"></i>

Importar tabla PERT con OCR

</h3>


<p class="text-muted">

Sube una imagen con una tabla de actividades para extraer automáticamente:

</p>


<ul>

<li>ID de actividad</li>

<li>Descripción</li>

<li>Duración</li>

<li>Predecesores</li>

</ul>



<form 
action="/vision/upload"
method="POST"
enctype="multipart/form-data">


<div class="mb-3">


<label class="form-label">

Imagen de la tabla

</label>


<input 
type="file"
class="form-control"
name="image"
accept="image/*"
required>


</div>



<button class="btn btn-primary">

<i class="bi bi-upload"></i>

Procesar imagen

</button>


</form>



{% if ocr_text %}


<hr class="my-4">


<h4>

Texto detectado

</h4>


<div class="card mt-3">

<div class="card-body">


<pre>{{ ocr_text }}</pre>


</div>

</div>


{% endif %}



{% if activities %}


<hr>


<h4>

Actividades detectadas

</h4>


<table class="table table-hover">


<thead>

<tr>

<th>ID</th>

<th>Actividad</th>

<th>Duración</th>

<th>Predecesores</th>

</tr>

</thead>


<tbody>


{% for activity in activities %}


<tr>

<td>
{{ activity.name }}
</td>


<td>
{{ activity.description }}
</td>


<td>
{{ activity.duration }}
</td>


<td>
{{ activity.predecessors }}
</td>


</tr>


{% endfor %}


</tbody>


</table>


{% endif %}



</div>

</div>


{% endblock %}